<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GoT: Play</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div>
    <div>
        <table>
            <tr>
                <th>Game Status</th>
                <td th:text="${game.state.name()}"></td>
            </tr>
            <tr>
                <th>Original Value</th>
                <td th:text="${game.startValue}"></td>
            </tr>
            <tr>
                <th>Current Result</th>
                <td th:text="${game.getCurrentValue()}"></td>
            </tr>
        </table>
    </div>
    <form method="post" th:action="@{/games/play}" th:object="${move}">
        <div th:unless="${game.currentValue eq 1}">
            <input th:field="*{player}" type="hidden"/>
            <input th:field="*{initiator}" type="hidden"/>
            <label for="move">Your move:</label><br/>
            <input id="move" placeholder="Enter value" th:field="*{value}" type="number"/>
            <span th:errors="*{value}" th:if="${#fields.hasErrors('value')}"></span><br/>
            <button type="submit">Play</button>
        </div>
        <div th:if="${game.currentValue eq 1}">
            <a th:href="@{/games/start}">New Game</a>
        </div>
    </form>
</div>
<hr/>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Result</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${game.history.isEmpty()}">
        <td>--</td>
        <td>--</td>
        <td>--</td>
    </tr>
    <tr th:each="gh: ${game.history}">
        <td th:text="${gh.player}"></td>
        <td th:text="${gh.result}"></td>
        <td th:text="${gh.playedAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
